{% extends "index.html" %}

{% block textcenter %}
<h1 class="">Editing profile info for {{ user.name }}</h1>
{% endblock %}

{% block content %}
    <div class="content register">
        <form action="{{ request.path }}" method="post">
            <div>
                <label for="name">Name:
                    {% for error in form.errors.name %}
                    <div class="alert error">
                        {{ error }}, 
                    </div>
                    {% endfor %}
                </label>
                {{ form.name }}
            </div>

            <div>
                <label for="email">email:
                    {% for error in form.errors.email %}
                    <div class="alert error">
                        {{ error }}, 
                    </div>
                    {% endfor %}
                </label>
                {{ form.email(readonly=true) }}
            </div>

            <div>
                <label for="phone">Phone:
                    {% for error in form.errors.phone %}
                    <div class="alert error">
                        {{ error }}, 
                    </div>
                    {% endfor %}
                </label>
                {{ form.phone }}
            </div>

            <div>
                <label for="phone">Address:
                    {% for error in form.errors.address %}
                    <div class="alert error">
                        {{ error }}, 
                    </div>
                    {% endfor %}
                </label>
                {{ form.address }}
            </div>

            <input type="submit" value="Register!">
            
            {{ form.csrf_token }}
        </form>
    </div>
{% endblock %}
