body {
   background: url('/static/img/spread-sheet-bgnav-1855x535.jpg') no-repeat fixed;
   margin: 0;
}

.header {
    position: relative;
    height: 272px;
}

/* *************************************************************************************************
------------------------------------------ LOGIN SCREEN --------------------------------------------
***************************************************************************************************/
.login {
    background-color: #f7f7f7;
    border-radius: 4px;
    border: solid 1px #417c4c;
    width: 400px;
    height: 300px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.login img {
    border-radius: 50%;
    margin-bottom: 50px;
    margin-top: 25px;
}

.blur-fullscreen {
    background: url('/static/img/cell-bg.png');
    height: 250px;
    filter: blur(5px);
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
    margin-top: -100px;
}

.loginBtn {
    box-sizing: border-box;
    position: relative;
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
  }

  .loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
  }

  .loginBtn--google {
    background: #DD4B39;
  }
  .loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
  }
  .loginBtn--google:hover,
  .loginBtn--google:focus {
    background: #E74B37;
  }
/* ---------------------------------------------------------------------------------------------- */




/* *************************************************************************************************
------------------------------------------ HOME SCREEN ---------------------------------------------
***************************************************************************************************/
.you {
    position: absolute;
    top: 15px;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    left:0;
    right:0;
    border-radius: 50%;
    border: solid 2px #FFF;
    box-shadow: 0 0 0 2pt #417c4c;
}

.blur {
    background: url('/static/img/spread-sheet-bgnav-1855x535.jpg') no-repeat fixed;
    height: 250px;
    filter: blur(5px);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.widget {
    border-top: 2px solid rgba(255, 255, 255, .5);
    border-bottom: 2px solid rgba(255, 255, 255, .5);
    height: 250px;
    width: 100%;
    z-index: 3;
}

.center {
    margin: auto;
}

.text h1 {
    text-align: center;
    text-shadow: 1px 1px rgba(0, 0, 0, .1);
    color: #417c4c;
    margin-top: 57px;
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 38px;
}

.text p {
    text-align: center;
    color: #888;
    text-shadow: 1px 1px rgba(0, 0, 0, .1);
    margin-top: 0px;
    font-family: 'Lato', serif;
    font-weight: 350;
    font-size: 22px;
}

.actions {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 340px;
}

.actions a {
    text-align: center;
    text-decoration: none;
    background-color: #FFF;
    color: #417c4c;
    padding: 6px;
    border: solid 1px #417c4c;
}
  
.actions a:hover {
    color: #FFF;
    background-color: #417c4c;
}

.content {
    top: 535px;
    left: -0px;
    right: -0px;
    bottom: -0px;
    background: #efefef;
    padding: 20px;
}

.content h2 {
    background-color: #417c4c;
    color: #FFF;
    text-align: center;
    margin: 0;
    padding: 2px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: center;
  }

.user {
    display: flex;
    flex-flow: column;
}

.user + .user {
    margin-left: 30px;
}

.user img {
    border: solid 2px #FFF;
    box-shadow: 0 0 0 2pt #417c4c;
    width: 150px;
    height: 150px;
    float: left;
    border-radius: 50%;
  }

.user h3 {
    color: #417c4c;
    text-align: center;
}


/* *************************************************************************************************
------------------------------------------ FORM REGISTER -------------------------------------------
***************************************************************************************************/
.alert {
    font-style: italic;
}

.alert.error {
    color: red;
}


.register form {
    margin-top: 20px;
    max-width: 500px;
    padding: 10px 20px;
    background: #fff;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
}

.register form label {
    color: #417c4c;
}

.register form input[readonly] {
    background: #e8eeef
}

.register form input {
    background-color: rgb(234, 255, 236);;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    height: 50px;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    
}
.register form input:focus {
    background: #d2d9dd;
}

.register form input[type="submit"],
.register form input[type="button"] {
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}

.register form input[type="submit"]:hover,
.register form input[type="button"]:hover {
    background: #109177;
}