<!doctype html>
<html class="no-js" lang="">
    <head>
        <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107296719-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments)};
            gtag('js', new Date());
            gtag('config', 'UA-107296719-1');
        </script>

        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}?v={{ range(1, 100000000000) | random }}">
    </head>
    <body>
        {% if not session.user %}
            <div class="blur-fullscreen"></div>
            <div class="login">
                <div><img src="{{ url_for('static', filename='img/photo.png') }}" alt=""></div>
                <div>
                    <form action="{{ url_for('user.login') }}">
                        <button class="loginBtn loginBtn--google">
                            Login with Google
                        </button>
                    </form>
                </div>
            </div>
        {% else %}
            <div class="header">
                <img class="you" src="{{
                    user.pic if user.pic else url_for('static', filename='img/dummy-profile-pic.png') 
                }}?sz=250" alt="">
            </div>
            <div class="widget">
                <div class="blur"></div>
                <div class="text">
                    {% block textcenter %}
                    <h1 class="">Hi, {{ user.name }}</h1>
                    <p>You are registered at SheetGo.</p>
                    <div class="actions">
                        <a href="{{url_for('user.logout')}}">Logout!</a>
                        <a href="{{url_for('user.update', user_id=user.id)}}">Edit your profile!</a>
                    </div>
                    {% endblock %}
                </div>
            </div>
            {% block content %}
            <div class="content">
                <h2>Check out who else is here.</h2>
                <div class="container">
                    {% for userModel in users %}
                    <div class="user">
                        <img src="{{
                            userModel.pic if userModel.pic else url_for('static', filename='img/dummy-profile-pic.png') 
                        }}?sz=250" alt="">
                        <h3>{{ userModel.name }}</h3>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endblock %}
        {% endif %}
    </body>
</html>